h1 {
    color: blue;
}

p{
    background-color: green;
}
#header1 {
    color: purple;
}
p.second {
    color: gold;
}

.second {
    color: red;
}

#whole{
    color: red;
}

#whole h1 {
    background-color: chartreuse;
}

#whole > a {
    background-color: coral;
}

.third {
    color: rgb(255, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
}

.fourth {
    color: rgba(0, 255, 0, 0.7);
    text-transform: uppercase;
}

.fifth{
    color: hsl(0, 100%, 50%);
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
}

.sixth{
    color: #FF0000;
}

span {
    display: inline;
}

.test-display {
    padding: 50px;
    border: solid;
    margin: 100px;
}

.test-width-height {
    font-size: 30px;
    height: 1px;
}

.child {
    float: right;
  }

  .common {
    color: aqua;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: right;
    line-height: 1;
    text-decoration: line-through;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }