h1 {
    color: blue;
}

p{
    background-color: green;
}
#header1 {
    color: purple;
}
p.second {
    color: gold;
}

.second {
    color: red;
}

#whole{
    color: red;
}

#whole h1 {
    background-color: chartreuse;
}

#whole > a {
    background-color: coral;
}